* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    /* border: 1px solid; */
}

:root {
    font-family: 'Inter', sans-serif;
    background-color: #222222;
    color: #ffffff;
}

/* HEADER */

#pageHeader {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    /* border: 1px solid; */
}

#pageTitle {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    opacity: 80%;
    /* border: 1px solid; */
}

#pageSetting {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* border: 1px solid; */
}

#date {
    font-weight: 200;
}

.separator {
    width: 2px;
    height: 80%;
    margin: 0 1rem;
    background-color: #727272c6;
}

#regionForm {
    /* padding: 2px; */
    /* border-radius: 10px; */
    /* border: 1px solid #727272; */
}

#country {
    appearance: none;
    height: 28px;
    width: 42px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 0;
    border: 3px solid #727272c6;
    filter: contrast(80%);
}

option {
    font-size: 1rem;
    margin-left: 10px;
}

#settingButton,
#searchButton {
    display: flex;
    background-color: transparent;
    border: none;
}

#settingIcon {
    width: 26px;
    height: 26px;
    opacity: 60%;
}

/* NAVBAR */

#pageNavbar {
    display: flex;
    justify-content: space-between;
    background-color: #141313;
    border: 1px solid;
}

#navbar {
    border: 1px solid;
}

#searchIcon {
    width: 30px;
    height: 30px;
    opacity: 80%;
}